.button {
  width: 100%;
  background-color: #fff;
  font-size: 16px;
  color: #ffa234;
  border-radius: 10px;
  padding: 25px 37px;
  transition: all 0.5s;

  &:hover {
    cursor: pointer;
    background-color: #ffa234;
    border-color: #ffa234;
    color: #fff;
  }
}
