.button {
  background-color: #f3f0eb;
  font-size: 16px;
  color: #ffa234;
  border: 2px solid #f3f0eb;
  border-radius: 5px;
  padding: 25px 37px;
  transition: all 0.5s;

  &:hover {
    cursor: pointer;
    background-color: #fff;
    border-color: #ffa234;
  }
}
