.form {
  position: relative;

  &__input {
    background-color: #f4f6f0;
    padding: 12px 0 12px 28px;
    border-bottom: 1px solid #c4c4c4;
    font-size: 16px;
    line-height: 21px;
    color: #797979;
    margin-bottom: 10px;
  }

  &__nameL,
  &__nameT {
    width: 15px;
    height: 12px;
    background-repeat: no-repeat;
    background-position: center left;
    position: absolute;
  }

  &__nameL {
    background-image: url("../images/icons/name.svg");
    top: 16px;
  }

  &__nameT {
    background-image: url("../images/icons/phone.svg");
    top: 72px;
  }

  &__button {
    color: #fff;
    background-color: #ffa234;
    margin-top: 38px;

    &:hover {
      background-color: #ff9c26;
      color: #fff;
    }
  }
}
