.header {
  padding: 40px 150px 144px;
  height: 100vh;
  background-color: #f3f0eb;
  position: relative;
  color: #000;
  overflow: hidden;

  &__yellowBg {
    position: absolute;
    right: -100px;
    top: -10vh;
    transform: rotate(-2deg);
    height: 120vh;
    width: 500px;
    background-color: #ffa234;
  }

  &__worker {
    background-image: url("../images/header/worker.png");
    height: 75vh;
    width: 525px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom right;
    position: absolute;
    bottom: 0;
    right: 15vw;
  }

  &__top {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  &__nav {
    z-index: 1;
    padding-bottom: 10px;
  }

  &__contact {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 10px;
  }

  &__phone,
  &__email {
    color: #fff;
  }

  &__info {
    margin-top: 140px;
  }

  &__heading {
    margin-bottom: 24px;
    font-size: 38px;
    line-height: 48px;
    text-transform: uppercase;
  }

  &__list {
    margin-bottom: 36px;
  }

  &__item {
    font-size: 16px;
    line-height: 160%;
    position: relative;
    left: 10px;

    &::before {
      position: absolute;
      top: calc(50% - 3px);
      left: -10px;
      content: "";
      height: 6px;
      width: 6px;
      border-radius: 50%;
      background-color: #ffa234;
    }
  }

  &__button {
    padding: 25px 32px;
    background-color: #ffa234;
    color: #fff;
    font-size: 16px;
    line-height: 21px;
    font-weight: bold;
    box-shadow: 3px 3px 5px rgba(166, 180, 200, 0.1);
    border-radius: 5px;
  }
}
