.nav {
  &__list {
    display: flex;
  }

  &__item {
    margin-right: 60px;

    &:last-of-type {
      margin-right: 0;
    }
  }

  &__link {
    font-family: "Cuprum", sans-serif;
    text-transform: uppercase;
    color: #797979;

    &:hover {
      color: #333;
    }
  }
}
