.statistic {
  display: flex;
  justify-content: space-between;
  background-color: #f3f0eb;
  position: relative;
  overflow: hidden;

  &__bg {
    width: 60vw;
    height: 120%;
    background-color: #f6f4f0;
    transform: rotate(-2deg);
    position: absolute;
    right: -10vw;
    top: -10%;
  }

  &__text {
    margin-top: 58px;
    max-width: 360px;
    font-size: 16px;
    line-height: 24px;
  }

  &__info,
  &__list {
    z-index: 1;
  }

  &__icons {
    display: flex;
  }

  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 28px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__icon {
    height: 36px;
    width: 17px;
    margin-right: 9px;
    background-image: url("../images/icons/man.png");

    &--blue {
      background-image: url("../images/icons/man-blue.png");
    }

    &--red {
      background-image: url("../images/icons/man-red.png");
    }

    &:first-of-type {
      margin-left: 16px;
    }

    &:last-of-type {
      margin-right: 35px;
    }
  }

  &__salary,
  &__interest {
    font-size: 16px;
    line-height: 22px;

    &--bold {
      font-weight: bold;
    }
  }
}
