.steps {
  padding-top: 46px;
  padding-bottom: 0;
  background-color: #f3f0eb;

  &__heading--mobile {
    display: none;
  }

  &__list {
    margin-top: 76px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 254px;
  }

  &__item {
    margin-right: 30px;
    border: 4px solid #f3f0eb;
    border-radius: 0 10px 10px 0;
    border-left: 0;
    position: relative;
    height: 254px;

    &:last-of-type {
      margin-right: 0;
      padding: 0 50px 12px 0;
      width: 254px;
      border-color: #ffa234;
    }

    &Heading {
      position: relative;
      top: -19px;
      font-weight: bold;
      font-size: 18px;
      line-height: 24px;
      background-color: #f3f0eb;
    }
  }

  &__text {
    width: 263px;
    position: relative;
    top: -7px;
    font-size: 16px;
    line-height: 24px;

    &--last {
      width: 195px;
    }
  }

  &__button {
    position: absolute;
    bottom: 12px;
    width: calc(100% - 12px);
    background-color: #f3f0eb;
    border-color: #f3f0eb;
  }

  &__bottom {
    display: grid;
    grid-template-columns: 860px 254px;
    column-gap: 30px;

    &Left {
      text-align: center;
      padding: 36px 384px 84px;
      background-color: rgba(255, 255, 255, 0.25);
      position: relative;

      &--line {
        position: absolute;
        top: -4px;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: #fff;
      }
    }

    &Right {
      text-align: center;
      padding: 36px 100px 84px;
      background-color: rgba(255, 255, 255, 0.25);
    }
  }

  &__mobile {
    display: none;
  }
}

@media (max-width: 440px) {
  .steps {
    padding-bottom: 40px;

    &__heading,
    &__list,
    &__bottom {
      display: none;
    }

    &__heading--mobile {
      display: block;
      max-width: 50%;
      margin-bottom: 20px;
    }

    &__mobile {
      display: block;

      &__item {
        display: flex;
        align-items: center;
        margin-bottom: 18px;
      }

      &__left {
        min-width: 49px;
        font-size: 15px;
        line-height: 21px;
        text-align: center;
        margin-right: 12px;
      }

      &__line {
        height: 130px;
        width: 7px;
        background-color: #ffa234;
        margin-right: 15px;

        &--second {
          height: 90px;
          background-color: #dedfe1;
        }
      }

      &__p {
        font-size: 15px;
        line-height: 21px;
        margin-bottom: 6px;

        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }
}
