.steps {
  padding-top: 46px;
  padding-bottom: 0;
  background-color: #f3f0eb;

  &__list {
    margin-top: 76px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 254px;
  }

  &__item {
    margin-right: 30px;
    border: 4px solid #f3f0eb;
    border-radius: 0 5px 5px 0;
    border-left: 0;
    position: relative;
    height: 254px;

    &:last-of-type {
      margin-right: 0;
      padding: 0 50px 12px 0;
      width: 254px;
      border-color: #ffa234;
    }

    &Heading {
      position: relative;
      top: -19px;
      font-weight: bold;
      font-size: 18px;
      line-height: 24px;
      background-color: #f3f0eb;
    }
  }

  &__text {
    width: 263px;
    position: relative;
    top: -7px;
    font-size: 16px;
    line-height: 24px;

    &--last {
      width: 195px;
    }
  }

  &__button {
    position: absolute;
    bottom: 12px;
  }

  &__bottom {
    display: grid;
    grid-template-columns: 860px 254px;
    column-gap: 30px;

    &Left {
      text-align: center;
      padding: 36px 384px 84px;
      background-color: rgba(255, 255, 255, 0.25);
      position: relative;

      &--line {
        position: absolute;
        top: -4px;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: #fff;
      }
    }

    &Right {
      text-align: center;
      padding: 36px 100px 84px;
      background-color: rgba(255, 255, 255, 0.25);
    }
  }
}
