$bg-color: #525252;
$red-color: #d24a43;
$text-color: #fff;

//sections paddings

$paddingMax: 175px;
$padding1800: 100px;
$padding1600: 75px;
$paddingMin: 30px;

//desktop screen size

$maxWidth: 1800px;
$averageWidth: 1600px;
$smallWidth: 1400px;

//mobile screen size

$tablet: 1100px;
$bigMobile: 800px;
$averageMobile: 440px;
$smallMobile: 350px;

//horizontal mobile screen

$horizontalMobileHeight: 450px;
