.video {
  &__list {
    margin-top: 58px;
    display: flex;
    justify-content: space-between;
  }

  &__video {
    border: 0;
    height: 312px;
    width: calc((100vw - 330px) / 2);
  }

  &__title {
    margin-top: 12px;
    position: relative;
    left: 21px;
    font-size: 16px;
    line-height: 22px;

    &::before {
      position: absolute;
      left: -21px;
      top: 6px;
      content: "";
      width: 9px;
      height: 9px;
      border-radius: 50%;
      background-color: #ffa234;
    }
  }
}

@media (max-width: 440px) {
  .video {
    &__list {
      margin-top: 36px;
      flex-direction: column;
    }

    &__video {
      width: 100%;
      height: 190px;
    }

    &__title {
      margin: 9px 0 20px;
      font-size: 15px;
      line-height: 20px;
    }
  }
}
